<div class="jumbotron">

<h2>Editing Course</h2>

<%= render 'form', course: @course %>

<div class = "btn btn-default">
<%= link_to 'Show', @course %> 
</div>
<div class = "btn btn-default">
<%= link_to 'Back', courses_path %>
</div>

</div>